.logo {
    margin-bottom: 0;
}
  
.logo__img {
    height: 21px;
    width: 97px;
  
    @include desktop {
      height: 24px;
      width: 194px;
    }
}
  
.header {
    background-color: var(--primary__color);
    min-height: 3.938rem;
  
    @include desktop {
      height: 66px;
    }
}
  
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.313rem;
    padding-bottom: 1.313rem;
}
  
.header__drawers-list__item {
    display: inline-block;
    width: 20px;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}
  
.fa-search,
.fa-shopping-cart,
.fa-bars {
    color: white;
}
  
.link_01,
.link_02,
.link_03 {
    text-decoration: none;
    color: var(--neutral-color);
}